$body-font-family: IRANSans, Tahoma;

/*v-card*/
$card-border-radius: 15px;
$card-btn-padding: 0 16px;
$card-actions-padding: 16px;

/*v-btn*/
$btn-border-radius: 24px;
$btn-outline-border-width: 2px;
$btn-letter-spacing: 0;

/*v-chip-group*/
$chip-group-content-padding: 0;
$chip-group-margin: 4px 0 0 0;

/*v-tab*/
$tabs-item-letter-spacing: 0;

/*v-navigation-drawer*/
$navigation-drawer-border-width: 0px;